<div class="relative w-full max-w-lg">
  <div class="my-blob absolute top-0 -left-4 w-40 h-40 bg-yellow-200 rounded-full mix-blend-multiply backdrop-filter opacity-25"></div>
  <div class="my-blob absolute top-0 -right-4 w-56 h-56 bg-gray-300 rounded-full mix-blend-multiply opacity-50"></div>
  <div class="my-blob absolute top-4 left-20 w-28 h-28 bg-red-500 rounded-full mix-blend-multiply opacity-40"></div>
</div>